<%= form_with model: [:admin, team] do |f| %>
  <% if team.errors.any? %>
    <ul>
      <% team.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>

  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div>
    <%= f.label :short_code, "Short code" %>
    <%= f.text_field :short_code %>
  </div>

  <div>
    <%= f.label :crest_url, "Crest URL (optional)" %>
    <%= f.url_field :crest_url %>
  </div>

  <%= f.submit %>
<% end %>
